.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
[data-popup="tooltip"].popup-overlay {
  background: transparent;
}
@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}

.popup-content {
  width: auto;
  height: auto;
  max-height: 80%; /* Adjust the maximum height as needed */
  overflow-y: auto; /* Add vertical scrolling if needed */
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

/* PopupStyles.css */
.popup-content {
  background-color: #03071e; /* Background color matching your color scheme */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
  width: 90%; /* Set the width as needed */
  max-width: 800px; /* Maximum width for the modal */
  margin: 0 auto; /* Center the modal horizontally */
  padding: 20px;
  color: white; /* Text color */
  border: none;
}

.popup-header {
  font-size: 24px;
  margin-bottom: 10px;
}

.popup-body {
  font-size: 16px;
  margin-bottom: 10px;
}

.popup-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px; /* Rounded corners for the image */
}

.popup-info {
  margin-top: 20px;
}

.popup-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px; /* Rounded corners for the button */
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  margin: 0 auto; /* Center the button horizontally */
  transition: background-color 0.3s ease;
}

.popup-button:hover {
  background-color: #0056b3;
}

.main-content {
  padding-left: 6rem;
  background-color: #03071e;
  color: white;
  height: 100em;
  overflow-y: auto;
}

.favorites {
  padding-left: 0;
  position: relative;
  right: 2.5rem;
}

.favButton {
  padding: 5px 10px;
  font-size: 14px;
  color: #bfb9fe; /* Text color */
  margin-bottom: 10px;
  cursor: pointer;
  display: block;
  width: auto;
  max-width: 150px;
  text-align: left;
  transition: color 0.3s ease;
  border: none;
  background-color: transparent; /* Transparent background */
  border-radius: 10px; /* Rounded borders */
}

.favButton:hover {
  color: #271ba7; /* Text color on hover */
  background-color: #bfb9fe; /* Background color on hover */
}
