.search-container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: flex-start; /* Align children to the start (left) */
}

.search-form label {
  font-size: 18px;
  margin-bottom: 10px;
}

.search-form input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
  padding-right: 30px;
}

.search-button {
  margin-left: 10px;
  margin-top: 10px;
  padding: 10px 15px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  max-width: 150px;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0056b3;
}

.game-list {
  list-style: none;
  padding: 0;
}

.game-details img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 10px;
  max-height: 300px;
  border-radius: 5px;
}

.game-details h2 {
  font-size: 28px;
  margin-bottom: 0;
}

.game-details p {
  max-height: 40rem;
  overflow: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  width: 90%;
  box-sizing: border-box;
}

.loading {
  font-size: 18px;
  margin-top: 20px;
}

.modern-game-button {
  padding: 5px 10px;
  font-size: 14px;
  color: #bfb9fe;
  margin-bottom: 10px;
  cursor: pointer;
  display: block;
  width: auto;
  max-width: 150px;
  text-align: left;
  transition: color 0.3s ease;
  border: none;
  background-color: transparent;
}

.modern-game-button:hover {
  color: #271ba7;
}

.sidebar {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 60px;
  background-color: #22007c;
  color: #fff;
  overflow-y: auto;
  transition: width 0.3s ease;
}

.sidebar-header {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 5em;
}
.main-content {
  padding-left: 6rem;
  background-color: #03071e;
  color: white;
  height: 100em;
  overflow-y: auto;
}

.icon-name {
  padding-left: 20px;
}

.sidebar-table {
  border-spacing: 0px 1em;
  margin-left: 1em;
  font-size: smaller;
}

.logout {
  position: relative;
  top: 290px;
  margin-left: 17px;
  font-size: small;
}

.game-info {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  grid-gap: 10px; /* Adjust the gap between columns */
}

.description-column {
  grid-row: span 4;
  display: flex;
}

.description-column p {
  padding: 10px;
}

.info-column {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.fav-heart {
  border: white;
}

.image-container {
  width: 39.5rem;
  overflow: visible; /* Ensures the image won't exceed the specified dimensions */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container while maintaining its aspect ratio */
}
